<main>
  <section class="hero">
    <img src="restaurant.jpg" alt="Restaurante Delicioso" class="hero-image" />
    <div class="hero-overlay">
      <div class="hero-content">
        <h1 class="hero-title">Bienvenido a Restaurante Delicioso</h1>
        <p class="hero-description">
          Disfruta de una experiencia culinaria excepcional en nuestro acogedor
          restaurante. Nuestros platos están hechos con los mejores ingredientes
          frescos.
        </p>
        <div class="hero-buttons">
          <a href="#" class="btn btn-verMenu">Ver Menú</a>
          <a href="#" class="btn btn-contactar">Contactar</a>
        </div>
      </div>
    </div>
  </section>

  <section id="menu">
    <div class="menu-content">
      <h2 class="section-menu-title">Nuestro Menú</h2>
      <p class="section-menu-description">
        Explora nuestra variada selección de platos deliciosos y tradicionales.
      </p>
      <div class="menu-card">
        <div class="menu-item">
          <img src="enchiladas.jpg" alt="Plato 1" class="menu-image" />
          <h3 class="menu-title">Enchiladas</h3>
          <p class="menu-description">
            Tortillas de maíz rellenas de pollo, bañadas en salsa roja o verde,
            acompañadas de crema, queso y cebolla.
          </p>
          <div class="menu-footer">
            <span class="menu-price">95 pesos</span>
            <button class="btn-menu">Ordenar</button>
          </div>
        </div>
        <div class="menu-item">
          <img src="gorditas.jpeg" alt="Plato 2" class="menu-image" />
          <h3 class="menu-title">Gorditas</h3>
          <p class="menu-description">
            Masa de maíz rellena de frijoles, chicharrón, o carne, servida con
            salsa y queso fresco.
          </p>
          <div class="menu-footer">
            <span class="menu-price">50 pesos</span>
            <button class="btn-menu">Ordenar</button>
          </div>
        </div>
        <div class="menu-item">
          <img src="pozole.jpeg" alt="Plato 3" class="menu-image" />
          <h3 class="menu-title">Pozole</h3>
          <p class="menu-description">
            Sopa tradicional mexicana hecha con granos de maíz, carne de cerdo, y
            condimentos, acompañada de lechuga, rábanos y limón.
          </p>
          <div class="menu-footer">
            <span class="menu-price">120 pesos</span>
            <button class="btn-menu">Ordenar</button>
          </div>
        </div>
        <div class="menu-item">
          <img src="flautas.jpeg" alt="Plato 4" class="menu-image" />
          <h3 class="menu-title">Flautas</h3>
          <p class="menu-description">
            Tortillas de maíz enrolladas y fritas, rellenas de pollo o carne,
            servidas con crema, queso y salsa.
          </p>
          <div class="menu-footer">
            <span class="menu-price">70 pesos</span>
            <button class="btn-menu">Ordenar</button>
          </div>
        </div>
        <div class="menu-item">
          <img src="menudo.jpeg" alt="Plato 5" class="menu-image" />
          <h3 class="menu-title">Menudo</h3>
          <p class="menu-description">
            Sopa tradicional mexicana hecha a base de estómago de res, cocinado
            con maíz y chiles, ideal para recuperarse después de una fiesta.
          </p>
          <div class="menu-footer">
            <span class="menu-price">130 pesos</span>
            <button class="btn-menu">Ordenar</button>
          </div>
        </div>
        <div class="menu-item">
          <img src="chilaquiles.jpeg" alt="Plato 6" class="menu-image" />
          <h3 class="menu-title">Chilaquiles</h3>
          <p class="menu-description">
            Totopos de maíz bañados en salsa roja o verde, acompañados de pollo,
            crema, queso y cebolla.
          </p>
          <div class="menu-footer">
            <span class="menu-price">80 pesos</span>
            <button class="btn-menu">Ordenar</button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="sobre-nosotros" class="sobre-nosotros-section">
    <div class="sobre-nosotros-container">
      <img src="sobreNosotros.jpg" alt="Restaurante Delicioso" class="sobre-nosotros-image" />
      <div class="sobre-nosotros-content">
        <h2 class="section-sobre-nosotros-title">Sobre Nuestro Restaurante</h2>
        <p class="section-sobre-nosotros-description">
          Restaurante Delicioso es un restaurante familiar que ofrece una amplia
          variedad de platos tradicionales mexicanos. Nuestros platos están hechos
          con ingredientes frescos y de alta calidad, y son preparados por nuestro
          talentoso equipo de chefs. Nuestro objetivo es brindar a nuestros clientes
          una experiencia culinaria excepcional en un ambiente acogedor y relajado.
        </p>
        <button class="btn-sobre-nosotros">Leer Más</button>
      
      </div>
    </div>
  </section>
  













  <section id="valoraciones">
    <div class="valoraciones-content">
      <h2 class="section-valoraciones-title">Valoraciones</h2>
      <p class="section-valoraciones-description">
        Descubre lo que nuestros clientes tienen que decir sobre su experiencia
        en nuestro restaurante.
      </p>
      <div class="valoraciones-card">
        <div class="valoracion-item">
          <div class="valoracion-header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path d="M12 12c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm0 2c-3.33 0-10 1.67-10 5v2h20v-2c0-3.33-6.67-5-10-5z"/>
            </svg>
            <h3 class="valoracion-title">Cliente 1</h3>
          </div>
          <p class="valoracion-description">
            "La comida es deliciosa y el servicio es excelente. ¡Volveré
            pronto!"
          </p>
        </div>
        <div class="valoracion-item">
          <div class="valoracion-header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path d="M12 12c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm0 2c-3.33 0-10 1.67-10 5v2h20v-2c0-3.33-6.67-5-10-5z"/>
            </svg>
            <h3 class="valoracion-title">Cliente 2</h3>
          </div>
          <p class="valoracion-description">
            "El ambiente es acogedor y la comida es increíble. ¡Muy
            recomendable!"
          </p>
        </div>
        <div class="valoracion-item">
          <div class="valoracion-header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path d="M12 12c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm0 2c-3.33 0-10 1.67-10 5v2h20v-2c0-3.33-6.67-5-10-5z"/>
            </svg>
            <h3 class="valoracion-title">Cliente 3</h3>
          </div>
          <p class="valoracion-description">
            "La presentación de los platos es impresionante y el sabor es
            excepcional."
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="contacto">
    <div class="contacto-content">
      <h2 class="section-contacto-title">Contacto</h2>
      <p class="section-contacto-description">
        Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto
        con nosotros. Estamos aquí para ayudarte.
      </p>
      <form action="#" class="contacto-form">
        <div class="form-group">
          <label for="nombre" class="form-label"></label>
          <input type="text" id="nombre" name="nombre" class="form-input" placeholder="Nombre" required />
        </div>
        <div class="form-group">
          <label for="email" class="form-label"></label>
          <input type="email" id="email" name="email" class="form-input" placeholder="Correo electronico" />
        </div>
        <div class="form-group">
          <label for="mensaje" class="form-label"></label>
          <textarea id="mensaje" name="mensaje" class="form-textarea" placeholder="Mensaje"></textarea>
        </div>
        <button type="submit" class="btn-contacto">Enviar</button>
      </form>
    </div>
  </section>
</main>
