
<main>
    <section class="hero">
      <img src="restaurant.jpg" alt="Restaurante Delicioso" class="hero-image" />
      <div class="hero-overlay">
        <div class="hero-content">
          <h1 class="hero-title">Bienvenido a Restaurante Delicioso</h1>
          <p class="hero-description">
            Disfruta de una experiencia culinaria excepcional en nuestro acogedor
            restaurante. Nuestros platos están hechos con los mejores ingredientes
            frescos.
          </p>
          <div class="hero-buttons">
            <a href="#" class="btn btn-menu">Ver Menú</a>
            <a href="#" class="btn btn-contactar">Contactar</a>
          </div>
        </div>
      </div>
    </section>
    <section id="menu">
      <div class="container">
        <h2 class="section-title">Menú</h2>
        <p class="section-description">
          Explora nuestra variada selección de platos deliciosos, desde clásicos hasta creaciones innovadoras.
        </p>
        <div class="menu-grid">
          <div class="menu-item">
            <img src="menu1.jpg" alt="Plato 1" class="menu-image" />
            <h3 class="menu-title">Plato 1</h3>
            <p class="menu-description">
       
            </p>
            <span class="menu-price">20€</span>
          </div>
          <div class="menu-item">
            <img src="menu2.jpg" alt="Plato 2" class="menu-image" />
            <h3 class="menu-title">Plato 2</h3>
            <p class="menu-description">
           
            </p>
            <span class="menu-price">25€</span>
          </div>
          <div class="menu-item">
              <img src="menu3.jpg" alt="Plato 3" class="menu-image" />
              <h3 class="menu-title">Plato 3</h3>
              <p class="menu-description">
             
              </p>
              <span class="menu-price">25€</span>
            </div>
        </div>
      </div>
    </section>
  </main>
  